<div class="information-insurance-container">
    <p class="title3-pri" style="margin-bottom: 33px;">{{seguro?.titulo}}</p>
    <span class="information-insurance-container-nro">Nro. de seguro:</span><span class="information-insurance-container-value">{{seguro?.numSeguro}}</span>
    <div class="information-insurance-container-content">
        <span class="information-insurance-container-content-text">Último pago realizado</span>
        <span class="information-insurance-container-content-text-end">{{seguroIn?.datos?.fechaUltimoPago}}</span>
        <span class="information-insurance-container-content-text">Vencimiento próximo pago</span>
        <span class="information-insurance-container-content-text-end">{{seguroIn?.datos?.fechaProximoPago}}</span>
        <span class="information-insurance-container-content-text">Prima mensual</span>
        <span class="information-insurance-container-content-text-end">{{seguroIn?.datos?.desPrima}}</span>
        <span class="information-insurance-container-content-text">Nro. de coutas pagadas</span>
        <span class="information-insurance-container-content-text-end">{{seguroIn?.datos?.cuotasTotal}}</span>
    </div>
    <br>
    <app-beneficiarios-seguros></app-beneficiarios-seguros>
</div>
