<mat-form-field class="input-tarjeta" appearance="fill" floatLabel="never">
  <span matPrefix class="input-tarjeta-pin">
    <app-icon-tarjeta></app-icon-tarjeta>
    <span class="">{{PIN_MASK}}</span>
  </span>
  <input matInput type="text" autocomplete="off" [(ngModel)]="value.numTarjetaMask" (keydown)="keyDownTarjeta($event)"
    (ngModelChange)="changeInputTarjeta($event)" maxlength="12" [disabled]="isDisabled">
  <app-icon-ojo-abierto *ngIf="isVerTarjeta" matSuffix (click)="mostrarOcultarTarjeta()"></app-icon-ojo-abierto>
  <app-icon-ojo-cerrado *ngIf="!isVerTarjeta" matSuffix (click)="mostrarOcultarTarjeta()"></app-icon-ojo-cerrado>
</mat-form-field>