<!-- <app-contador [tiempoSeg]="tiempoSesion" [mensaje]="mensajeTime" [type]="2"></app-contador> -->
<div class="layout-main">
  <!-- <app-loader></app-loader> -->
  <app-main-header></app-main-header>
  <div class="top">
    <h2>Hola, Marco Anthonio</h2>
    <div class="right">
      <h3>Sello de seguridad</h3><strong class="divisor">/</strong>
      <h4>Último acceso:<br><strong>24 de junio del 2022</strong></h4>
    </div>
  </div>
  <div class="container-ct layout-main-main">
    <router-outlet></router-outlet>
  </div>
</div>
