<mat-accordion>
  <mat-expansion-panel class="beneficiarios-seguros-container" [expanded]="true">
    <mat-expansion-panel-header class="beneficiarios-seguros-container-header">
      <mat-panel-title class="beneficiarios-seguros-container-header-title">
        Beneficiario(s)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <div class="beneficiarios-seguros-container-body-content">
        <div *ngFor="let beneficiario of lista"
          class="beneficiarios-seguros-container-body-content-item">
          <div class="beneficiarios-seguros-container-body-content-item-nombre-mobile">
            <span>{{beneficiario.nombre}}</span>
            <span>{{beneficiario.apePaterno + beneficiario.apeMaterno}}</span>
          </div>
          <span class="beneficiarios-seguros-container-body-content-item-nombre-desktop">{{beneficiario.nomCompleto}}</span>

          <span class="beneficiarios-seguros-container-body-content-item-parentesco">{{beneficiario.parentesco}}</span>
          <span class="beneficiarios-seguros-container-body-content-item-dni">DNI - {{beneficiario.numDoi}}</span>
          <span class="beneficiarios-seguros-container-body-content-item-participacion">Participacion
            {{beneficiario.desPorcentaje}}</span>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>