<div class="clave-sms-container">
    <span class="clave-sms-container-title">Ingresa tu clave SMS</span>
    <div class="clave-sms-container-content">
        <mat-form-field class="clave-sms-container-content-field" appearance="outline">
            <input type="text" matInput
                   class="clave-sms-container-content-field-input">
        </mat-form-field>
        <div class="clave-sms-container-content-reload">
            <app-icon-reload></app-icon-reload>
            <span class="clave-sms-container-content-reload-text"> Enviar SMS nuevamente</span>
        </div>
    </div>
</div>
