.clave6-generar {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-titulo {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 35px;
  }

  &-accion {
    display: flex;
    justify-content: center;
    gap: 30px; 
    flex-wrap: wrap;
    button {
      min-width: 260px;
    }
  }

  &-paso1 {
    max-width: 510px;
  }

  &-paso2 {
    &-pad {
      display: flex;
      justify-content: center;
      gap: 40px;
    }
  }
}

@include media-down(sm) {
  .clave6-generar {
    &-paso2 {
      &-pad {
        display: flex;
        flex-direction: column;
      }
    }
  }
}