.cj-alerta {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px 20px;
  font-size: 13px;
  line-height: 15px;
  font-weight: 400;
  margin: 16px 0px;
  border: 2px solid;
  border-radius: 10px;  
}

.cj-alerta.success {
  background-color: #eeffe4;
  border-color: #72a951;
  color: #72a951;
  .cj-alerta-icon {
    color: #72a951;
  }
}

.cj-alerta.info {
  background-color: #e4f0ff;
  border-color: #519ca9;
  color: #519ca9;
  .cj-alerta-icon {
    color: #519ca9;
  }
}

.cj-alerta.warn {
  background-color: #FFFBE4;
  border-color: #FFD505;

  .cj-alerta-icon {
    height: 20px;
    width: 20px;
    color: #FFD505;
  }
}

.cj-alerta.error {
  background-color: #FEEEEE;
  border-color: #F90000;
  color: #F90000;

  .cj-alerta-icon {
    color: #F90000;
  }
}

.cj-alerta.amount {
  background-color: #FEEEEE;
  border-color: #F90000;
  color: #F90000;
  font-size: 16px;
  @media screen and(min-width:768px) {
      font-size: 20px;
  }

  .cj-alerta-icon {
    color: #F90000;
    height: 20px;
    width: 20px;
    @media screen and(min-width:768px) {
      color: #F90000;
      height: 30px;
      width: 30px;
    }
  }
}

.font-700{
  font-weight: 700;
}