<section class="dashboard">

  <article class="dashboard2">
    <div class="dashboard2-titulo">
      <app-icon-billetera size="24"></app-icon-billetera>
      <label class="title2-pri">{{isConCard ? 'Ahorros' : 'Plazo Fijo'}}</label>
    </div>
    <div class="dashboard2-content">
      <div class="dashboard2-content-cards">
        <ng-container *ngFor="let item of listaAhorros">
          <app-card-ahorros [icono]="item.icono" [titulo]="item.titulo" [subTitulo]="item.subTitulo"
            [monto]="item.monto" (click)="btnIrAhorros(item)">
          </app-card-ahorros>
        </ng-container>
      </div>
    </div>
  </article>

  <article class="dashboard2">
    <ng-container *ngIf="isConCard">
      <div class="dashboard2-titulo">
        <app-icon-pagos size="24"></app-icon-pagos>
        <label class="title2-pri">Pagos</label>
      </div>
      <div class="dashboard2-content">
        <div class="dashboard2-content-cards">
          <ng-container *ngFor="let item of listaPagos">
            <app-card-ahorros [icono]="item.icono" [titulo]="item.titulo" (click)="btnIrPagos(item)"></app-card-ahorros>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </article>

  <article class="dashboard2" *ngIf="isConCard">
    <div class="dashboard2-titulo">
      <app-icon-transferencia size="24"></app-icon-transferencia>
      <label class="title2-pri">Transferencias</label>
    </div>
    <div class="dashboard2-content">
      <div class="dashboard2-content-cards">
        <ng-container *ngFor="let item of listaTansf">
          <app-card-ahorros [icono]="item.icono" [titulo]="item.titulo" (click)="btnIrTransferencia(item)"></app-card-ahorros>
        </ng-container>
      </div>
    </div>
  </article>

</section>