<mat-accordion>
  <mat-expansion-panel class="beneficiarios-seguros-container" [expanded]="true">
    <mat-expansion-panel-header class="beneficiarios-seguros-container-header">
      <mat-panel-title class="beneficiarios-seguros-container-header-title">
        Beneficiario(s)
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <div class="beneficiarios-seguros-container-body-content">
        <div *ngFor="let beneficiario of seguro.beneficiarios"
          class="beneficiarios-seguros-container-body-content-item">
          <div class="beneficiarios-seguros-container-body-content-item-nombre-mobile">
            <span>{{getName(beneficiario.nombre)}}</span>
            <span>{{getLastName(beneficiario.nombre)}}</span>
          </div>
          <span class="beneficiarios-seguros-container-body-content-item-nombre-desktop">{{beneficiario.nombre}}</span>

          <span class="beneficiarios-seguros-container-body-content-item-parentesco">{{beneficiario.parentesco}}</span>
          <span class="beneficiarios-seguros-container-body-content-item-dni">DNI - {{beneficiario.dni}}</span>
          <span class="beneficiarios-seguros-container-body-content-item-participacion">Participacion
            {{beneficiario.participacion}}</span>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>