<div class="container my-5">
  <div class="row">
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-lock-square size="24" color="#565656"></app-icon-lock-square>
        <div class="mt-2">icon-lock-square </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-user size="24" color="#565656"></app-icon-user>
        <div class="mt-2">icon-user </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-borrar size="24" color="#565656"></app-icon-borrar>
        <div class="mt-2">icon-borrar </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-delete size="24" color="#565656"></app-icon-delete>
        <div class="mt-2">icon-delete </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-tarjeta size="24" color="#565656"></app-icon-tarjeta>
        <div class="mt-2">icon-tarjeta </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-llave size="24" color="#565656"></app-icon-llave>
        <div class="mt-2">icon-llave </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-sello-de-seguridad size="24" color="#565656"></app-icon-sello-de-seguridad>
        <div class="mt-2">icon-sello-de-seguridad </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-billetera size="24" color="#565656"></app-icon-billetera>
        <div class="mt-2">icon-billetera </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-pagos size="24" color="#565656"></app-icon-pagos>
        <div class="mt-2">icon-pagos </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-transferencia size="24" color="#565656"></app-icon-transferencia>
        <div class="mt-2">icon-transferencia </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-servicios size="24" color="#565656"></app-icon-servicios>
        <div class="mt-2">icon-servicios </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-celular size="24" color="#565656"></app-icon-celular>
        <div class="mt-2">icon-celular </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-person size="24" color="#565656"></app-icon-person>
        <div class="mt-2">icon-person </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-personas size="24" color="#565656"></app-icon-personas>
        <div class="mt-2">icon-personas </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-banco size="24" color="#565656"></app-icon-banco>
        <div class="mt-2">icon-banco </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-dimero size="24" color="#565656"></app-icon-dimero>
        <div class="mt-2">icon-dimero </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-flecha-derecha size="24" color="#565656"></app-icon-flecha-derecha>
        <div class="mt-2">icon-flecha-derecha </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-flecha-abajo size="24" color="#565656"></app-icon-flecha-abajo>
        <div class="mt-2">icon-flecha-abajo </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-power size="24" color="#565656"></app-icon-power>
        <div class="mt-2">icon-power </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-reloj size="24" color="#565656"></app-icon-reloj>
        <div class="mt-2">icon-reloj </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-credito size="24" color="#565656"></app-icon-credito>
        <div class="mt-2">icon-credito </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-escudo-seguro size="24" color="#565656"></app-icon-escudo-seguro>
        <div class="mt-2">icon-escudo-seguro </div>
      </div>
    </div>
    <div class="col-md-2 text-center mb-4">
      <div class="btn-light border p-3 overflow-hidden rounded w-100">
        <app-icon-info size="24" color="#565656"></app-icon-info>
        <div class="mt-2">icon-info </div>
      </div>
    </div>
  </div>
</div>
