$color-principal1: #F90000;
$color-principal2: #F5F5F5;
$color-secundario1: #EDEDED;
$color-secundario2: #C6C6C6;
$color-secundario3: #D6D6D6;

$size-titulo1: 30px;
$size-titulo2: 24px;
$size-titulo3: 20px;
$size-titulo4: 18px;
$size-sub-titulo1: 16px;
$size-sub-titulo2: 14px;
$size-sub-titulo3: 12px;

$color-primario: #F90000;
$color-secundario: #EDEDED;
$color-acento: #FFD505;
$color-texto: #565656;
$color-desactivado: #C6C6C6;
$color-title-small: #F4C3C3;
$color-card: #F7F7F7;
$color-error: #FEEEEE;
$color-correcto: #89C763;
$color-informacion: #FFFBE4;
$color-celes-cla: #D1ECFF;
$color-celes-osc: #2487B2;

$size-form: 18px;
$size-label: 20px;