<section class="clave6-generar">
  <ng-container *ngIf="numeroPaso === PASOS.INI">
    <div class="clave6-generar-paso1">
      <div class="clave6-generar-titulo">
        <app-icon-sello-de-seguridad size="24"></app-icon-sello-de-seguridad>
        <label class="title3-pri">Ingresa tus datos</label>
      </div>

      <div>
        <label class="title3-pri">Número de tarjeta</label>
        <input-tarjeta [(ngModel)]="value.numeroTarjeta"></input-tarjeta>
      </div>

      <div class="row m-0">
        <div class="col-6 select-login" style="padding-left: 0;">
          <mat-form-field appearance="fill" class="w-100">
            <mat-select [(ngModel)]="value.tipoDocumento" required>
              <mat-option value="1">DNI</mat-option>
              <mat-option value="2">Carnet de Extranjería</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6 px-0">
          <input-documento [(ngModel)]="value.numeroDocumento"></input-documento>
        </div>
      </div>

      <div class="row m-0">
        <div class="col-6 select-login" style="padding-left: 0;">
          <mat-form-field appearance="fill" class="w-100">
            <mat-select [(ngModel)]="value.tipoOperadora" required>
              <mat-option value="1">Movistar</mat-option>
              <mat-option value="2">Claro</mat-option>
              <mat-option value="3">Entel</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6 px-0">
          <mat-form-field appearance="fill" class="w-100">
            <input matInput type="text" autocomplete="off" [(ngModel)]="value.numeroOperador" maxlength="9"
              placeholder="(51) Nro. de Celular">
          </mat-form-field>
        </div>
      </div>

      <div>
        <label class="subtitle1-sec mt-4" style="font-weight: 500;">Para confirmar la creación de tu clave de internet</label>
        <app-pad-numerico [valueDigits]="4" title="Ingrese la clave de 4 dígitos de tu tarjeta"></app-pad-numerico>
      </div>

      <div class="clave6-generar-accion mt-5">
        <button mat-stroked-button color="primary" class="btn-pri-out" (click)="btnRegresar1()">Cancelar</button>
        <button mat-raised-button color="primary" class="btn-principal" (click)="btnSiguiente1()">Aceptar</button>
      </div>

    </div>

  </ng-container>

  <ng-container *ngIf="numeroPaso === PASOS.DOS">
    <div class="clave6-generar-paso2">
      <div class="clave6-generar-titulo">
        <app-icon-sello-de-seguridad size="24"></app-icon-sello-de-seguridad>
        <label class="title3-pri">Ingresa tus datos</label>
      </div>

      <div>
        <label  class="title3-sec">Por favor , crea una clave para los canales digitales de 6 dígitos, haciendo clic sobre los números del teclado virtual</label>
        <div class="clave6-generar-paso2-pad">
          <app-pad-numerico [valueDigits]="6" title="Ingresa una clave de 6 dígitos"></app-pad-numerico>
          <app-pad-numerico [valueDigits]="6" title="Confirma tu clave de 6 dígitos"></app-pad-numerico>
        </div>
      </div>

      <div class="clave6-generar-accion mt-5">
        <button mat-stroked-button color="primary" class="btn-pri-out" (click)="btnRegresar2()">Cancelar</button>
        <button mat-raised-button color="primary" class="btn-principal" (click)="btnSiguiente2()">Aceptar</button>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="numeroPaso === PASOS.FIN">
    <app-pantalla-exito [Titulo]="'Clave generada con éxito'" [Icon]="'assets/icons/key.svg'"
      [Mensaje]="'Ahora ya puedes ingresar a tu banca por internet con tu nueva clave'"></app-pantalla-exito>
  </ng-container>

</section>
