<app-plantilla-info-simple>

  <ng-container contentTitulo>
    <app-icon-billetera size="24"></app-icon-billetera>
    <label class="title2-pri">Ahorros</label>
  </ng-container>

  <ng-container contentCard>
    <app-icon-billetera size="24"></app-icon-billetera>
    <div>
      <label class="title3-sec mb-2">Ahorro Sueldo en soles</label>
      <label class="subtitle1-secN">Nro. de cuenta: {{cuenta?.numCuenta}}</label>
      <label class="subtitle1-secN mb-2">Código Interbancario (CCI): {{cuenta?.numCCI}}</label>
      <label class="title3-sec">{{cuenta?.saldoContable}}</label>
      <label class="subtitle1-secN mb-2">Saldo contable</label>
      <label class="title3-sec">{{cuenta?.saldoDisponible}}</label>
      <label class="subtitle1-secN">Saldo disponible</label>
    </div>
  </ng-container>

  <ng-container contentMain>
    <ng-container *ngIf="numPaso === PASOS.INI">
      <app-mis-movimientos [lista]="listaMovimientos" (eVerPdf)="btnEstadoCuenta($event)"></app-mis-movimientos>
    </ng-container>

    <ng-container *ngIf="numPaso === PASOS.FIN">
      <app-cheques-retenciones [lista]="listaRetenciones"></app-cheques-retenciones>
    </ng-container>

  </ng-container>

  <ng-container contentAction>
    <button mat-stroked-button color="primary" class="btn-pri-out" (click)="btnRegresar()">Regresar</button>
    <button mat-raised-button class="btn-principal" (click)="btnChequesRet()" *ngIf="numPaso === PASOS.INI">Cheques y
      retenciones</button>
  </ng-container>

</app-plantilla-info-simple>