<section class="clave6-generar">  
    <ng-container *ngIf="numeroPaso === PASOS.INI">
      <div class="clave6-generar-paso2">
        <div class="clave6-generar-titulo">
          <app-icon-sello-de-seguridad size="24"></app-icon-sello-de-seguridad>
          <label class="title3-pri">Ingresa tus datos</label>
        </div>
  
        <div>
          <label class="title3-sec">Por favor , crea una clave para los canales digitales de 6 dígitos, haciendo clic
            sobre los números del teclado virtual</label>
          <div class="clave6-generar-paso2-pad">
            <app-pad-numerico [valueDigits]="6" title="Ingresa una clave de 6 dígitos" (valueCod)="getClave6D($event, 1)">
            </app-pad-numerico>
            <app-pad-numerico [valueDigits]="6" title="Confirma tu clave de 6 dígitos" (valueCod)="getClave6D($event, 2)">
            </app-pad-numerico>
          </div>
        </div>
  
        <div class="clave6-generar-accion mt-5">
          <button mat-stroked-button color="primary" class="btn-pri-out" (click)="regresarIni()">Cancelar</button>
          <button mat-raised-button color="primary" class="btn-principal" (click)="cambiarClaveTemporal()" [disabled]="!isValidClaves">Aceptar</button>
        </div>
        
        <div class="mt-4">
          <app-alerta *ngIf="!!mensajeError" [mensaje]="mensajeError" tipo="error"></app-alerta>
        </div>
  
      </div>
    </ng-container>
  
    <ng-container *ngIf="numeroPaso === PASOS.FIN">
      <app-pantalla-exito [Titulo]="'Clave generada con éxito'" [Icon]="'assets/icons/key.svg'" [Ruta]="'/auth/generar/sello'" [TituloBoton]="'Ir a seleccionar sello'"
        [Mensaje]="'Ahora ya puedes ingresar a tu banca por internet con tu nueva clave'"></app-pantalla-exito>
    </ng-container>
  
  </section>
