<app-plantilla-info-simple>
  <ng-container contentTitulo>
    <app-icon-transferencia size="24"></app-icon-transferencia>
    <label class="title2-pri">Transferencias</label>
  </ng-container>

  <ng-container contentCard>
    <app-icon-transferencia size="24"></app-icon-transferencia>
    <div>
      <label class="title3-sec mb-1">A cuentas propias</label>
      <label class="subtitle1-secN">Ingresa los datos y completa las opciones para continuar</label>
    </div>
  </ng-container>

  <ng-container contentMain>
    <ng-container [ngTemplateOutlet]="contentTp"></ng-container>
  </ng-container>

  <ng-container contentAction>
    <ng-container [ngTemplateOutlet]="actionsTp"></ng-container>
  </ng-container>

</app-plantilla-info-simple>

<!-- TEMPLATES -->
<ng-template #contentTp>
  <mat-stepper labelPosition="bottom" linear [selectedIndex]="stepIndex">
    <mat-step label="Datos">
      <section>
        <div class="row">
          <div class="col-12 col-md-6 select-cuenta mb-4">
            <label class="label-pri mb-2">Cuenta origen:</label>
            <mat-form-field appearance="fill" floatLabel="always">
              <mat-label>{{labelSelect1}}</mat-label>
              <mat-select (selectionChange)="changeSelect($event)" [(ngModel)]="values.cuentaOrigen">
                <mat-option *ngFor="let item of listaCuentas" [value]="item.id">{{item.mostrar}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6 select-cuenta mb-4">
            <label class="label-pri mb-2">Cuenta destino:</label>
            <mat-form-field appearance="fill" floatLabel="always">
              <mat-label>{{labelSelect2}}</mat-label>
              <mat-select (selectionChange)="changeSelect2($event)" [(ngModel)]="values.cuentaDestino">
                <mat-option *ngFor="let item of listaCuentas" [value]="item.id">{{item.mostrar}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6">
            <label class="label-secN">Moneda</label>
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-select [(ngModel)]="values.moneda">
                <mat-option value="1">Soles</mat-option>
                <mat-option value="2">Dolares</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 col-md-6">
            <label class="label-secN">Monto a transferir</label>
            <mat-form-field appearance="outline" style="width: 100%;">
              <input matInput autocomplete="off">
            </mat-form-field>
          </div>

        </div>

      </section>
    </mat-step>

    <mat-step label="Transferencia" [completed]="stepIndex === 0 ? false: true">
      <p>TRANSFERENCIA.</p>
    </mat-step>

    <mat-step label="Resúmen">
      <app-proceso-exitoso [icono]="'transferencia'" [titulo]="'¡Tu transferencia se realizó con éxito!'" [numOp]="'56054'" [dataArray]="[
      {
        title: 'Fecha y Hora',
        data: '20/12/2017 10:50'
      },
      {
        title: 'Modalidad',
        data: 'Inmediata'
      }
    ]"></app-proceso-exitoso>
    </mat-step>

  </mat-stepper>
</ng-template>

<ng-template #actionsTp>
  <button mat-stroked-button color="primary" class="btn-pri-out" *ngIf="stepIndex !== 2"
    (click)="btnRegresar()">Regresar</button>
  <button mat-raised-button class="btn-principal" (click)="btnContinuar()">{{stepIndex !== 2 ? 'Continuar': 'Ir a
    transferencias'}}</button>
</ng-template>