

::ng-deep .list-item-container {
    background:  #E60101;
    width: 200px;
    padding: 0px;
    display: none;

    @media screen and(min-width:780px){
        display: block;
    }
   
  }

.list-item-content{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.item-list{
    text-decoration: none;
    color: white;
    cursor: pointer;

    &-icon{
        color: white;
    }

    &-subtitle{
        color: white;
        padding-left: 10px;
    }
}
