// Estilo para la cabecera de los tabs de material
.mat-tab-group {
  .mat-tab-header {
    .mat-tab-label-container .mat-tab-labels {
      .mat-tab-label-content {
        color: #b3b1b1;
        font-size: $size-titulo3;
        line-height: 28px;
        font-weight: 700;

        @include media-down(md) {
          font-size: 16px;
        }
      }

      .mat-tab-label-active .mat-tab-label-content {
        color: $color-principal1;
      }

    }
  }
}

// Estilo para la cabecera de los acordiones de material
.mat-accordion {
  .mat-expansion-panel {
    margin-bottom: 5px;
    box-shadow: none;

    .mat-expansion-panel-header {
      font-size: $size-titulo3;
      background-color: $color-error  !important;
      font-weight: 500;
      height: 40px;

      @include media-down(md) {
        font-size: 14px;
        height: 30px;
      }

      .mat-expansion-panel-header-title {
        color: $color-principal1;
      }
    }

    .mat-expansion-panel-header:hover {
      background: $color-error;
    }

    .mat-expansion-panel-body {
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }
}

// Estilo para el Stepper de material
mat-stepper {
  .mat-horizontal-content-container {
    padding: 0px;
  }

  .mat-step-header {
    pointer-events: none;

    .mat-step-icon-state-number:not(.mat-step-icon-selected) {
      color: $color-title-small;
      font-weight: 700;
      background-color: white;
      border: 2px solid $color-title-small;
    }

    .mat-step-icon-state-edit .mat-step-icon-content,
    .mat-step-icon-state-done .mat-step-icon-content {
      width: 100%;
      height: 100%;
      background-image: url("/assets/icons/doneStep.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 12px;
    }

    .mat-step-icon .mat-icon {
      display: none;
    }

    .mat-step-label {
      padding: 6px 0 0 0 !important;
    }

    &:first-child {
      padding-left: 0px;
    }

    &:not(:last-child) {
      .mat-step-icon-selected {
        color: $color-primario;
        font-weight: 700;
        background-color: white;
        border: 2px solid $color-primario;
      }
    }

    &:last-child {
      padding-right: 0px;

      .mat-step-icon-selected {
        .mat-step-icon-content {
          width: 100%;
          height: 100%;
          background-image: url("/assets/icons/doneStep.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 12px;

          span {
            display: none;
          }
        }
      }
    }
  }
}

// FORM FIELD
.mat-form-field-appearance-fill,
.mat-form-field-appearance-outline {
  .mat-form-field-flex {
    background-color: transparent;
    .mat-form-field-outline {
      color: $color-desactivado;
    }
    .mat-select, .mat-input-element {
      font-size: $size-form;

      @include media-down(md) {
        font-size: 16px;

      }
    }
  }

  .mat-form-field-underline::before {
    background-color: $color-principal1;
  }
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper,
.mat-form-field-appearance-fill .mat-select-arrow-wrapper {
  transform: translateY(10%) !important;
}

.mat-checkbox .mat-checkbox-frame {
  border: 1.5px solid $color-principal1;
}

.mat-expansion-indicator::after {
  color: $color-principal1;
}

//PERSONALIZADO
.select-login {
  .mat-form-field-appearance-fill {
    .mat-select-arrow-wrapper .mat-select-arrow {
      color: $color-acento;
    }

    .mat-select-value {
      color: $color-principal1;
      font-weight: 600;
    }
  }
}

.select-cuenta {
  .mat-form-field-appearance-fill {
    width: 100%;

    .mat-form-field-wrapper {
      padding-bottom: 0px;
      border: 1px solid $color-desactivado;
      border-radius: 4px;

      .mat-form-field-label {
        font-size: 16px;
      }

      .mat-form-field-underline {
        display: none;
      }
    }
  }
}